{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Compressor</title>
    <script src="{% static 'compress.js' %}"></script>
    <link rel="stylesheet" href="{% static "document.css"%}">
</head>
    
<body>

<div class ="pdf_arrange">
    <h1>Upload PDF to Compress</h1>
    <form id="compress-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="pdf-file-input" name="pdf_file" required>
        <button type="submit">Compress PDF</button>
    </form>
</div>

    <!-- Area to show file sizes -->
    <div id="file-info" style="display: none;">
        <p>Original file size: <span id="original-size"></span> KB</p>
        <p>Compressed file size: <span id="compressed-size"></span> KB</p>

    </div>

    <!-- Include the JavaScript file -->
    
</body>
</html>
